.App {
  text-align: center;
}
.navbarpointer
{
position: fixed;
top: 0;
width: 100%;
z-index: 100;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#reel {
  width: 50%;
  height: 50%;
}
.div {
  background-color: black;
}
html {
  background-color: black;
  
}


.Places{
  padding: 10px;
  
  
  color: aliceblue;


}

.eat {
background-color: rgba(0, 8, 255, 0.247);


margin-left: 10%;
margin-right: 10%;
border: 1px solid #104190;
border-radius: 20px ;
}
.play {
  background-color: rgba(26, 26, 26, 0.247);
  
  
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #ffffff18;
  border-radius: 20px ;
  }
  